$gridi-components-navbar-logo-and-title-gutter: 16px !default;
//Defined padding between logo and title for each screens.
$gridi-components-navbar-logo-and-title-gutter-for-screens: () !default;
/*
$gridi-components-navbar-logo-and-title-gutter-for-screens: (
    s1: 10px,
    ...
) !default;
*/

$gridi-components-navbar-logo-and-title-vertical-align: middle !default;